.movieCard {
    width: 100%;
    max-height: 218px;
    height: 100%;
    padding: 24px;
    border-radius: 12px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.movieCardInnerContainer {
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
}

.starRating {
    flex-direction: row;
}

.movieCardDetails {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.movieCardPoster {
    background-color: #EAEBED;
    max-height: 100%;
    height: 170px;
    max-width: 100%;
    width: 119px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movieCardLink {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #9854F6;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.movieCardReleaseDate {
    font-weight: 400;
    font-size: 16px;
    color: #7B7C88;
}

.movieCardRating {
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}

.movieCardRatingCount {
    font-weight: 400;
    font-size: 16px;
    color: #7B7C88;
    margin-left: 4px;
}

.movieCardGenres {
    font-weight: 400;
    font-size: 16px;
    color: #7B7C88;
}

.movieCardGenresText {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.movieCardModalContent {
    width: 380px;
    height: 100%;
}

.movieCardTitle {
    font-weight: 700;
}

.detailsInnerContainer {
    max-width: 234px;
    width: 100%;
}

@media (max-width: 1270px) {
    .detailsInnerContainer {
        max-width: 170px;
    }
}

@media (max-width: 1380px) {
    .movieCard {
        padding: 14px;
    }
}

@media (max-width: 1024px) {
    .movieCardLink {
        font-size: 18px;
    }

    .movieCardReleaseDate, .movieCardRating, .movieCardRatingCount, .movieCardGenres, .movieCardGenresText {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .movieCardDetails {
        gap: 4px;
    }

    .movieCardLink {
        font-size: 16px;
    }

    .movieCardReleaseDate, .movieCardRating, .movieCardRatingCount, .movieCardGenres, .movieCardGenresText {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .movieCard {
        max-height: 100%;
        padding: 8px;
        gap: 4px;
    }

    .starRating {
        flex-direction: column;
    }

    .detailsInnerContainer {
        max-width: 140px;
    }

    .movieCardInnerContainer {
        flex-direction: column;
        justify-content: flex-start;
        max-width: 90%;
    }

    .movieCardDetails {
        margin-top: 10px;
    }

    .movieCardPoster {
        width: 60px;
    }

    .movieCardDetails {
        gap: 2px;
    }

    .movieCardLink {
        font-size: 16px;
    }

    .movieCardReleaseDate, .movieCardRating, .movieCardRatingCount, .movieCardGenres, .movieCardGenresText {
        font-size: 14px;
    }

    .movieCardModalContent {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .movieCard {
        padding: 5px;
    }

    .movieCardLink {
        font-size: 12px;
    }

    .movieCardReleaseDate, .movieCardRating, .movieCardRatingCount, .movieCardGenres, .movieCardGenresText {
        font-size: 8px;
    }
}