.mainPageContainer {
    width: 100%;
    min-height: 100vh;
    padding: 40px 80px 0 80px;
    background-color: #F5F5F6
}

.dropdown {
    width: 100%;
    height: 36px;
    margin: 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 8px 12px 8px 12px;

    &:hover {
        background-color: #9854F6;
        color: #FFFFFF;
    }
}

.link-active {
    color: #9854F6;
    font-weight: 600;
    background-color: #E5D5FA;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    height: 42px;
    width: 100%;
    justify-content: flex-start;
    padding: 10px;
    margin-bottom: 10px;

    &:hover {
        color: #BD93F7;
    }
}

.link {
    color: #000000;
    font-weight: 400;
    background-color: #F2EBF9;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    height: 42px;
    justify-content: flex-start;
    padding: 10px;
    margin-bottom: 10px;

    &:hover {
        color: #BD93F7;
    }
}

.sidebarComponentNavbar {
    min-height: 100vh;
    background-color: #F2EBF9;
    padding: 24px;
}

.sidebarComponentLogoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-bottom: 70px;
}

.sidebarComponentLogoText {
    color: #9854F6;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.filtersContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    margin-top: 42px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inputGroup {
    display: flex;
    gap: 8px;
    align-items: flex-end;
}

.sortContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
    align-items: flex-end;
    margin-top: 24px;
    justify-content: flex-end;
}

@media (max-width: 1024px) {
    .mainPageContainer {
        padding: 40px 40px 0 40px;
    }

    .filtersContainer, .sortContainer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .mainPageContainer {
        padding: 40px 80px 0 80px;
    }

    .sidebarComponentNavbar {
        padding: 16px;
        display: flex;
    }

    .sidebarComponentLogoContainer {
        margin-bottom: 40px;
        justify-content: space-between;
    }

    .sidebarComponentLogoText {
        font-size: 20px;
    }

    .filtersContainer {
        margin-top: 24px;
        gap: 16px;
    }

    .inputGroup {
        flex-direction: column;
        align-items: stretch;
    }

    .sortContainer {
        margin-top: 16px;
        gap: 8px;
    }
}

@media (max-width: 480px) {
    .mainPageContainer {
        padding: 40px 40px 0 40px;
    }

    .sidebarComponentNavbar {
        padding: 12px;
    }

    .sidebarComponentLogoText {
        font-size: 18px;
    }

    .filtersContainer, .sortContainer {
        gap: 8px;
        margin-top: 16px;
    }

    .inputGroup {
        gap: 4px;
    }
}

@media (max-width: 320px) {

    .mainPageContainer {
        padding: 20px 5px 0 5px;
    }

    .sidebarComponentNavbar {
        padding: 8px;
    }

    .sidebarComponentLogoText {
        font-size: 16px;
    }

    .filtersContainer, .sortContainer {
        margin-top: 8px;
    }

    .inputGroup {
        gap: 2px;
    }
}
